doctype html
html(lang="zh-tw")
  head
    title Yuchun Wang
  body
    #particles-js
    .container
      .card
        .cardTop
          .avatar
        .cardMid 
          .shine >
          .name Yuchun Wang
          .addr
          .job_title

        hr
        .cardButtom
          .pic-container
            .parent
              .wrapper
                .content
                  i.fas.fa-user.fa-7x
                  hr
                  .text
                    .title
                      h2 profile:
                    .subtitle
                      h3 Name: phx
                      h3 age:28
                      h3 hobbies: watch NBA, watch movies,play video game
          .pic-container
            .parent
              .wrapper
                .content
                  i.fas.fa-wrench.fa-7x
                  hr
                  .text
                    .title 
                      h2  skill:
                    .subtitle
                      h2 c++
                      h2 java
                      h2 js
                      h2 python
          
        .rel_link
          a.btn(target="_blank" href="https://github.com/phoenix2005f/") Github

